<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>AbbaWeb</title>
    <link href="https://fonts.cdnfonts.com/css/gilroy-bold" rel="stylesheet">

</head>

<body>
<div class="container">
    <div class="hider">
        <img src="{% static 'logos/close.svg' %}" alt="">
        <img src="{% static 'logos/logo.svg' %}" alt="">
        <img src="{% static 'logos/menu.svg' %}" alt="">
    </div>

        <div class="hero_hider">
            <a href="{% url 'index' %}">
                <img class="arrow" src="{% static 'logos/Arrow_Left_LG.png' %}" alt="">
            </a>
            <h1 class="hider_xizmat">{% block header %}Xizmat turini tanlang{% endblock %}</h1>
        </div>



    {% block content %}
    {% endblock %}
</div>
</body>
</html>