{% extends 'base.html' %}
{% block header %}Xizmat turini tanlang{% endblock %}
{% block content %}
    <div class="service_list">
        {% for category in categories %}
            <div class="service_item">
                <a class="page_3" href="{% url 'projects' category.id %}">
                    <img class="pages_img_3" src="{{ category.get_photo }}" alt="">
                    <p class="page_1_bot">{{ category.title }}</p>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}