{% extends 'base.html' %}
{% load static %}
{% block header %}Proyektlar{% endblock %}
{% block content %}
    <div class="service_list">
        {% for project in projects %}
            <div class="service_item">
                <a class="page_3_link" href="{% url 'statuspage' project.id %}">
                    <img class="bot_logos" src="{% static 'logos/Web page 4.png' %}" alt="image">
                    <p class="page_3_termo">{{ project.title }}</p>
                    <p class="page_3_cite">{{ project.category.title }}</p>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}

