{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>AbbaWeb</title>
    <link href="https://fonts.cdnfonts.com/css/gilroy-bold" rel="stylesheet">


</head>

<body>
<div class="container">
    <div class="hider">
        <img src="{% static 'logos/close.svg' %}" alt="">
        <img src="{% static 'logos/logo.svg' %}" alt="">
        <img src="{% static 'logos/menu.svg' %}" alt="">
    </div>
    <div class="hero_4">
        <a href="{% url 'index' %}">
            <img class="arrow_img" src="{% static 'logos/Arrow_Left_LG.png' %}" alt="">
        </a>
        <h1 class="hero_4_termo">Jarayon</h1>
    </div>
    <div class="hero_4_bottom">
        {% for status in status %}
        <div class="page_4_">
            <a class="page_4_link_1" href="#">
                <img class="page_4_img" src="{{ status.get_photo }}" alt="">
                <p class="page_4_analiz">{{ status.title }}</p>
            </a>
        </div>
        {% endfor %}
        <h1 class="hero_44_termo">Branding bo'limi</h1>
    </div>
    <div class="hero_4_bottom">
        {% for status in leftstatus %}
        <div class="page_4_">
            <a class="page_4_link_1" href="#">
                <img class="page_4_img" src="{{ status.get_photo }}" alt="">
                <p class="page_4_analiz">{{ status.title }}</p>
            </a>
        </div>
        {% endfor %}
    </div>

        <a class="bottom_end" href="{% url 'sendmessage' %}">
            <h1 class="bottom_end_h1">Mijozga xabarni yuborish</h1>
        </a>
</div>

</body>

</html>