{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>AbbaWeb</title>
    <link href="https://fonts.cdnfonts.com/css/gilroy-bold" rel="stylesheet">

</head>

<body>
<div class="container">
    <div class="hider">
        <img src="{% static 'media/close.svg' %}" alt="">
        <img src="{% static 'media/logo.svg' %}" alt="">
        <img src="{% static 'media/menu.svg' %}" alt="">
    </div>
    <div class="hero_5">
        <a href="{% url 'index' %}">
            <img class="arrow_img_home" src="{% static 'media/Home.png' %}" alt="">
        </a>
        <h1 class="hero_5_h1">Xabar yuborildi</h1>
    </div>
    <div class="bottom_5">
        <img class="bottom_5_img" src="{% static 'media/Check circle.png' %}" alt="">
        <h2 class="bottom_5_h2">Xabaringiz mijozga muvaffaqiyatli yuborildi</h2>
    </div>
</div>

</body>

</html>